@{
    var forestryName = Model.Item1.FirstOrDefault().ForestryName;
    var forestryID = Model.Item1.FirstOrDefault().ForestryID;
    var subTitle = "Площади древостоев по классам возраста на начало и конец ревизионного периода";
    ViewData["Title"] = $"{forestryName} - {subTitle}";
    var p0 = "N0";
    var p1 = "N1";
    var p2 = "N2";
}
@model Tuple<List<SectionFelling10YAGStartArea>,
                List<SectionFelling10YAGFellingArea>,
                List<SectionFelling10YAGRemainingArea>,
                List<SectionFelling10YAGMovementArea>,
                List<SectionFelling10YAGResultArea>,
                List<SectionFelling10YTotalArea>>

<h2><a asp-action="forestry" asp-route-id=@forestryID>@forestryName</a> - @subTitle</h2>
    @foreach (var sectionFellingTotal in Model.Item6.OrderBy(g => g.SectionName))
    {
        var sectionFelling10YAGStartAreas = Model.Item1.Where(g => g.SectionID == sectionFellingTotal.SectionID);
        var sectionFelling10YAGFellingAreas = Model.Item2.Where(g => g.SectionID == sectionFellingTotal.SectionID);
        var sectionFelling10YAGRemainingAreas = Model.Item3.Where(g => g.SectionID == sectionFellingTotal.SectionID);
        var sectionFelling10YAGMovementAreas = Model.Item4.Where(g => g.SectionID == sectionFellingTotal.SectionID);
        var sectionFelling10YAGResultAreas = Model.Item5.Where(g => g.SectionID == sectionFellingTotal.SectionID);
        <h5>@sectionFellingTotal.SectionName</h5>
        <table class="table">
            <tr>
                <th rowspan="2">Класс возраста рубки</th>
                <th rowspan="2">Рассчетная лесосека на 10 лет, га</th>
                <th rowspan="2">Показатели</th>
                <th colspan="9">Площадь по классам возраста, га</th>
                <th rowspan="2">Пояснения</th>
            </tr>
            <tr>
                <th>Ⅰ</th>
                <th>Ⅱ</th>
                <th>Ⅲ</th>
                <th>Ⅳ</th>
                <th>Ⅴ</th>
                <th>Ⅵ</th>
                <th>Ⅶ</th>
                <th>Ⅷ и более</th>
                <th>итого</th>
            </tr>
            <tr>
                <td>@Formatting.toFixed(sectionFellingTotal.MainFellingAge, p0)<br/>@Formatting.toFixed(sectionFellingTotal.MainFellingAgeClass, p0)</td>
                <td>@Formatting.toFixed(sectionFellingTotal.FellingOperationalArea, p1)<br />@Formatting.toFixed(sectionFellingTotal._10YFellingArea, p1)</td>
                <td>1. Площадь в начале периода</td>
                @for(var i = 1; i <= 8; i++)
                {
                var SectionFelling10YAGStartArea = sectionFelling10YAGStartAreas.FirstOrDefault(g => g.AgeClass == i);
                <td>@Formatting.toFixed(SectionFelling10YAGStartArea?.Area, p1)</td>
                }
                <td>@Formatting.toFixed(sectionFellingTotal.StartArea, p1)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>2. Эксплуатационная площадь</td>
                @for (var i = 1; i <= 8; i++)
                {
                    if (i < sectionFellingTotal.MainFellingAgeClass)
                    {
                        <td></td>
                        continue;
                    }
                    var SectionFelling10YAGStartArea = sectionFelling10YAGStartAreas.FirstOrDefault(g => g.AgeClass == i);
                    <td>@Formatting.toFixed(SectionFelling10YAGStartArea?.Area, p1)</td>
                }
                <td>@Formatting.toFixed(sectionFellingTotal.OperationalArea, p1)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>3. Коэффициент, равный вырубаемой площади за 10 лет, деленной на эксплуатационную площадь</td>
                <td colspan="9">K=@Formatting.toFixed(sectionFellingTotal._10YFellingArea, p1) / @Formatting.toFixed(sectionFellingTotal.OperationalArea, p1)=@Formatting.toFixed(sectionFellingTotal._10YFellingPart, p2)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>4. Площадь рубки за 10 лет по классам возраста</td>
                @for (var i = 1; i <= 8; i++)
                {
                    var sectionFelling10YAGFellingArea = sectionFelling10YAGFellingAreas.FirstOrDefault(g => g.AgeClass == i);
                    <td>@Formatting.toFixed(sectionFelling10YAGFellingArea?.Area, p1)</td>
                }
                <td>@Formatting.toFixed(sectionFellingTotal._10YFellingArea, p1)</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>5. Остаток площадей древостоев без учета роста и культур</td>
                @for (var i = 1; i <= 8; i++)
                {
                    var sectionFelling10YAGRemainingArea = sectionFelling10YAGRemainingAreas.FirstOrDefault(g => g.AgeClass == i);
                    <td>@Formatting.toFixed(sectionFelling10YAGRemainingArea?.Area, p1)</td>
                }
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>6. Площадь культур и естественного возобновления вырубок</td>
                <td>@Formatting.toFixed(sectionFellingTotal._10YFellingArea, p1)</td>
                @for (var i = 2; i <= 8; i++)
                {
                    <td></td>
                }
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>7. Передвижение за счет роста</td>
                @for (var i = 1; i <= 8; i++)
                {
                    var sectionFelling10YAGMovementArea = sectionFelling10YAGMovementAreas.FirstOrDefault(g => g.AgeClass == i);
                    <td>@Formatting.toFixed(sectionFelling10YAGMovementArea?.Area, p1)</td>
                }
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>8. В конце периода</td>
                @for (var i = 1; i <= 8; i++)
                {
                    var sectionFelling10YAGResultArea = sectionFelling10YAGResultAreas.FirstOrDefault(g => g.AgeClass == i);
                    <td>@Formatting.toFixed(sectionFelling10YAGResultArea?.Area, p1)</td>
                }
                <td>@Formatting.toFixed(sectionFellingTotal.ResultArea, p1)</td>
                <td></td>
            </tr>
        </table>
        <br/>
    }