@{
    ViewData["Title"] = $"{Model.Item1.ForestryName} - Распределение общей площади по категориям земель";
    var precision = "N2";
    var precisionPercent = "N1";
    Func<double?, string> toFixed = x => x == null || x == 0 ? "" : x.Value.ToString(precision);
    Func<double?, string> toFixedPercent = x => x == null || x == 0 ? "" : $"{x.Value.ToString(precisionPercent)} %";
}
@model Tuple<ForestryWeb.Models.Database.Views.ForestryAreas, ForestryWeb.Models.Database.Views.ForestryAreasPercentage>

<h2>@Model.Item1.ForestryName - Распределение общей площади по категориям земель</h2>
<table class="table">
    <tr><th rowspan="3">Общая площадь</th><th colspan="7">ЛЕСНАЯ ПЛОЩАДЬ в га</th><th colspan="7">НЕЛЕСНАЯ ПЛОЩАДЬ в га</th><th rowspan="3">Итого нелесной площади</th></tr>
    <tr><th rowspan="2">покрытая лесом</th><th colspan="5">непокрытая лесом</th><th rowspan="2">Всего лесной площади</th><th rowspan="2">пашни</th><th rowspan="2">сенокосы и пастбища</th><th rowspan="2">воды</th><th colspan="2">площади особого назначения</th><th colspan="2">неиспользуемые площади</th></tr>
    <tr><th>лесосеки</th><th>гари</th><th>пустыри прогалины</th><th>редины</th><th>итого</th><th>дороги, просеки, канавы</th><th>усадьбы и прочие земли</th><th>болота</th><th>прочее</th></tr>
    <tr><td>@toFixed(Model.Item1.TotalArea)</td><td>@toFixed(Model.Item1.Forest)</td><td>@toFixed(Model.Item1.Felling)</td><td>@toFixed(Model.Item1.Burnt)</td><td>@toFixed(Model.Item1.Empty)</td><td>@toFixed(Model.Item1.Thin)</td><td>@toFixed(Model.Item1.NonForestForest)</td><td>@toFixed(Model.Item1.TotalForest)</td><td>@toFixed(Model.Item1.Field)</td><td>@toFixed(Model.Item1.Pasture)</td><td>@toFixed(Model.Item1.Water)</td><td>@toFixed(Model.Item1.Road)</td><td>@toFixed(Model.Item1.House)</td><td>@toFixed(Model.Item1.Swamp)</td><td>@toFixed(Model.Item1.Other)</td><td>@toFixed(Model.Item1.TotalNonForest)</td></tr>
    <tr><td>@toFixedPercent(Model.Item2.TotalAreaTotal)</td><td>@toFixedPercent(Model.Item2.ForestTotal)</td><td>@toFixedPercent(Model.Item2.FellingTotal)</td><td>@toFixedPercent(Model.Item2.BurntTotal)</td><td>@toFixedPercent(Model.Item2.EmptyTotal)</td><td>@toFixedPercent(Model.Item2.ThinTotal)</td><td>@toFixedPercent(Model.Item2.NonForestForestTotal)</td><td>@toFixedPercent(Model.Item2.TotalForestTotal)</td><td>@toFixedPercent(Model.Item2.FieldTotal)</td><td>@toFixedPercent(Model.Item2.PastureTotal)</td><td>@toFixedPercent(Model.Item2.WaterTotal)</td><td>@toFixedPercent(Model.Item2.RoadTotal)</td><td>@toFixedPercent(Model.Item2.HouseTotal)</td><td>@toFixedPercent(Model.Item2.SwampTotal)</td><td>@toFixedPercent(Model.Item2.OtherTotal)</td><td>@toFixedPercent(Model.Item2.TotalNonForestTotal)</td></tr>
    <tr><td>@toFixedPercent(Model.Item2.TotalAreaLocal)</td><td>@toFixedPercent(Model.Item2.ForestLocal)</td><td>@toFixedPercent(Model.Item2.FellingLocal)</td><td>@toFixedPercent(Model.Item2.BurntLocal)</td><td>@toFixedPercent(Model.Item2.EmptyLocal)</td><td>@toFixedPercent(Model.Item2.ThinLocal)</td><td>@toFixedPercent(Model.Item2.NonForestForestLocal)</td><td>@toFixedPercent(Model.Item2.TotalForestLocal)</td><td>@toFixedPercent(Model.Item2.FieldLocal)</td><td>@toFixedPercent(Model.Item2.PastureLocal)</td><td>@toFixedPercent(Model.Item2.WaterLocal)</td><td>@toFixedPercent(Model.Item2.RoadLocal)</td><td>@toFixedPercent(Model.Item2.HouseLocal)</td><td>@toFixedPercent(Model.Item2.SwampLocal)</td><td>@toFixedPercent(Model.Item2.OtherLocal)</td><td>@toFixedPercent(Model.Item2.TotalNonForestLocal)</td></tr>
</table>