@{
    var subTitle = "Таблица хода роста";
    ViewData["Title"] = subTitle;
    var p0 = "N0";
    var p1 = "N1";
    var pp = "N1";

    var sectionSuffix = "-section";
}
@model Tuple<List<GrowthRate>, List<TreeSpecies>,  List<QualityClass>>
<div class="page-content-center page-content-display">
    <h1><a asp-action="Directories">Справочная информация</a> - @subTitle</h1>
    <select id="treeSpeciesSelect" onchange="showSpecies(this.value)">
        <option disabled selected>--Выберете породу--</option>
        @foreach(var treeSpecies in Model.Item2.OrderBy(t => t.Name))
        {
            <option value="@treeSpecies.TreeSpeciesID">@treeSpecies.Name</option>
        }
    </select>
    <table class="table">
        <tr>
            <th rowspan="3">Возраст, лет</th>
            <th colspan="5">Древостой</th>
        </tr>
        <tr>
            <th rowspan="2">средняя высота, м</th>
            <th rowspan="2">средний диаметр, см</th>
            <th rowspan="2">запас на 1 га, м3</th>
            <th colspan="2">прирост, м3</th>
        </tr>
        <tr>
            <th>средний</th>
            <th>текущий</th>
        </tr>
        @foreach (var speciesGroup in Model.Item1.DistinctBy(g => g.TreeSpeciesID).OrderBy(g => Model.Item2.FirstOrDefault(s => s.TreeSpeciesID == g.TreeSpeciesID)?.Name))
        {
            <tbody id="@(speciesGroup.TreeSpeciesID + sectionSuffix)" hidden="True">
            <tr>
                <th colspan="6">@Model.Item2.FirstOrDefault(s => s.TreeSpeciesID == speciesGroup.TreeSpeciesID)?.Name</th>
            </tr>
            @foreach (var qualityGroup in Model.Item1.Where(g => g.TreeSpeciesID == speciesGroup.TreeSpeciesID).DistinctBy(g => g.QualityClassID).OrderBy(g => Model.Item3.FirstOrDefault(q => q.QualityClassID == g.QualityClassID)?.Number))
            {
                var avgHeightEntries = Model.Item1.Where(p => p.TreeSpeciesID == speciesGroup.TreeSpeciesID && p.AvgDiameter == qualityGroup.AvgDiameter).OrderBy(g => g.AvgHeight);
                <tr>
                    <td class="table-item-highlighted" colspan="6">@Model.Item3.FirstOrDefault(q => q.QualityClassID == qualityGroup.QualityClassID)?.Number-й класс бонитета</td>
                </tr>
                @foreach (var growthEntry in Model.Item1.Where(g => g.TreeSpeciesID == speciesGroup.TreeSpeciesID && g.QualityClassID == qualityGroup.QualityClassID).OrderBy(g => g.Age))
                {
                    <tr>
                        <td>@Formatting.toFixed(growthEntry.Age, p0)</td>
                        <td>@Formatting.toFixed(growthEntry.AvgHeight, p1)</td>
                        <td>@Formatting.toFixed(growthEntry.AvgDiameter, p1)</td>
                        <td>@Formatting.toFixed(growthEntry.VolumePerHectare, p0)</td>
                        <td>@Formatting.toFixed(growthEntry.AvgGrowth, p1)</td>
                        <td>@Formatting.toFixed(growthEntry.CurrentGrowth, p1)</td>
                    </tr>
                }
            }
            </tbody>
        }
    </table>
    <div hidden="@(Context.User.FindFirstValue(ClaimTypes.Role) != "Admin")">
        <a id="editLink" asp-action="EditGrowthRateDirectory" hidden="true"><input type="button" value="Изменить" /></a>
        <a id="removeLink" asp-action="RemoveGrowthRateDirectory" onclick="ActionConfirmation(`Удалить таблицу для породы: ${displayedSpeciesName}?`)" hidden="true"><input type="button" class="input-delete" value="Удалить" /></a>
    </div>
</div>
<script>
    let displayedSpeciesID = null;
    let displayedSpeciesName = null;
    let sectionSuffix = "@sectionSuffix";
    let editHref = null;
    let removeHref = null;

    function showSpecies(speciesID) {
        if (displayedSpeciesID) 
        {
            let displayedSection = document.getElementById(displayedSpeciesID + sectionSuffix);
            if (displayedSection) 
            {
                displayedSection.hidden = true;
            }
        }
        else 
        {
            let editLinkTag = document.getElementById("editLink");
            editLinkTag.hidden = false;
            editHref = editLinkTag.href + "/";

            let removeLinkTag = document.getElementById("removeLink");
            removeLinkTag.hidden = false;
            removeHref = removeLinkTag.href + "/";
        }
        let requestedSection = document.getElementById(speciesID + sectionSuffix);
        if (requestedSection) 
        {
            requestedSection.hidden = false;
        }
        displayedSpeciesID = speciesID;
        let speciesSelectTag = document.getElementById("treeSpeciesSelect");
        displayedSpeciesName = speciesSelectTag[speciesSelectTag.selectedIndex].text;

        document.getElementById("editLink").href = editHref + displayedSpeciesID;
        document.getElementById("removeLink").href = removeHref + displayedSpeciesID;
    }
</script>